<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <script type ="text/javascript" src="./jquery/dist/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./js/app.js"></script>
    <link type="text/css" rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <form id="form" action="" method="POST">
                <div class="row">
                    <h2 id="counter_string">The button has been pushed 0 time(s)</h2>
                </div>
                <div class="row">
                    <p>Push the button to update the count!</p>
                </div>
                <div class="row">
                    <button id="submit_button" class="btn">Push the epic button</button>
                </div> 
            </form>
            <div class="row">
                <button id="reset_button" class="btn">Reset Count</button>
            </div> 
        </div>
    </div>
</body>
</html>